@class-prefix: ~'ljmui2-list-picker';

.@{class-prefix} {
  --border-radius: var(--adm-tag-border-radius, 2px);
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 4px;
  color: var(--text-color);
  font-weight: normal;
  font-size: 11px;
  line-height: 1;
  white-space: nowrap;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  &-round {
    border-radius: 100px;
  }
}
